   
body{
    background-image: url(https://s2.uupload.ir/files/back_ms9u.jpg);
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-right: 40px;
}
/* clock */
/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
#digital-clock {
        background-color: #222121;
        color: aqua;
        width: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 1140px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        text-align: center;
        box-shadow: 0 10px 10px 0 rgba(255, 235, 235, 0.2), 0 10px 20px 0 rgba(255, 234, 234, 0.19);
        border-radius: 10px;
        border: 2px solid #85e0f7;
}
hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid #ffeded;
        width: 800px;
        margin-right: 550px;
        margin-top: -20px;
    }
.h{
        font-size: 38px;
        margin-top: -65px;
        color: rgb(255, 255, 217);
        font-family: Arial, Helvetica, sans-serif;
}
.text{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 22px;
       color: rgb(255, 255, 217);
       margin-top: -10px;
}
.text2{
        font-family: 'Kokab Medium';
        color: #222121;
        font-size: 25px;
        margin-left: 428px;
        margin-top: -20px;
}
 
body{
        display: grid;
}

.content{
        display: none;
    }
    
    .loading{
        width: 90px;
        height: 60px;
        margin: 3rem auto;
        display: flex;
        justify-content: space-around;
    }
    .loading div{
        overflow: hidden;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(207, 207, 2);
    }
    .loading div:nth-child(1){
        animation: scale 0.5s infinite linear;
        animation-direction: alternate;
    }
    .loading div:nth-child(2){
        animation: scale 0.5s infinite linear;
        animation-direction: alternate;
        animation-delay: 0.2s;
    }
    .loading div:nth-child(3){
        animation: scale 0.5s infinite linear;
        animation-direction: alternate;
        animation-delay: 0.4s;
    }
    @keyframes scale{
        from{transform: scale(1);}
        to{transform: scale(1.3);}
    } 
    